.DS_Store
foresite-java/trunk/.classpath
foresite-java/trunk/.gitignore
foresite-java/trunk/.project
foresite-java/trunk/.settings/org.eclipse.core.resources.prefs
foresite-java/trunk/.settings/org.eclipse.jdt.core.prefs
foresite-java/trunk/.settings/org.eclipse.m2e.core.prefs
foresite-java/trunk/.settings/org.eclipse.wst.common.component
foresite-java/trunk/.settings/org.eclipse.wst.common.project.facet.core.xml
